.dialogs {
    display: grid;
    grid-template-columns: 2fr 5fr;
}


.dialog a {
    text-decoration: none;
    color: snow;

}

.dialog {
    padding: 4px;

}

.messages {
    color: gold;
    padding: 10px;
}

.message {
    padding: 4px;
}
